body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0px;
}

ul{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0px;
}

.profiles{
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

li{
  position: relative;
  list-style-type: none;
  text-align: center;
  height: 50px;
}

.profile-link{
  width: 20%;
}

a{
  text-decoration: none;
  color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.sound-list{
  display: flex;
  width: 75%;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.btn-container{
  position: relative;
  width: 20%;
  height: 200px;
  background-color: black;
}

.btn-container:nth-of-type(even){
  background-color: rgb(3, 252, 157);
}

button{
  border: none;
  background-color: inherit;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
  height: 100%;
  width: 100%;
  cursor: pointer;
  font-size: 1em;

}

h1{
  text-align: center;
}

h3{
  text-align: center;
  margin-bottom: 20px;
}

button:focus{
  outline: none;
}

@media only screen and (max-width: 600px) {
  .btn-container{
    width: 100%;
  }

  .profile-link{
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .btn-container{
    width: 100%;
  }

  .profile-link{
    width: 50%;
  }

  h1{
    font-size: 1.5em;
  }
}